<!DOCTYPE html>
<html lang="en">

<head>
    <title>SOLO TU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    {% include 'aplicacion/base.html' %}

    <div class="container">

    </div>
    <form action="" method="POST" id="tiendaform" name="tiendaform">{% csrf_token %}
        <h1>Registro de Tienda</h1>
        <div class="form-group">
            <label for="username">Nombre de la tienda:</label>
            <input type="text" class="form-control" name="nombreTienda" placeholder="Nombre de la Tienda" id="">
        </div>
        <div class="form-group">
            <label for="email">Nombre de Sucursal:</label>
            <input type="text" class="form-control" name="nombreSucursal" placeholder="Nombre de Sucursal" id="">
        </div>
        <div class="form-group">
            <label for="pwd">Direccion:</label>
            <input type="text" class="form-control" name="direccion" placeholder="Direccion" id="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg">Registrar</button>
        </div>

    </form>
</body>

</html>